.card {
    display: block;
}

/* Album Styles */
.album {
    max-width: 740px;
}

.album-number, .honourable-title {
    color: var(--red);
}

.album-title, .album-number {
    display: inline;
}

.album-description-container {
    display: none;
}

/* Best/Worst Songs Styles */
.best-worst-songs-title {
    color: var(--red);
    font-weight: 600;
}

#hero-img {
    min-width: 250px;
}