.card {
    display: block;
}


/* Game Styles */
.game {
    max-width: 740px;
}

.game-number, .honourable-title {
    color: var(--red);
}

.game-title, .game-number {
    display: inline;
}

.game-description-container {
    display: none; /*use block/none*/
}

.game-time-played, .game-platforms-title {
    color: var(--red);
    font-weight: 600;
}

#hero-img {
    min-width: 250px;
}

.games-bold {
    font-weight: 600;
}