/* Cards */

#card-container {
    max-width: 1500px;
}

.card {
    color: black;
    margin-bottom: 10px;
}

.card-img-top {
    border: none;
    object-fit: cover;
    max-height: 215px;
}

.carousel-item img{
    object-fit: cover;
    max-height: 60vh;
    border-radius: 10px;
}