.game-card {
    max-width: 700px;
}

/* Cards */

#card-container {
    max-width: 1500px;
}

.card {
    color: black;
    margin-bottom: 10px;
}

.card-img-top {
    border: none;
    object-fit: cover;
}