:root {
    --red: rgb(201, 0, 0);
    --dark-red: rgb(150, 0, 0);
	--darker-red:rgb(100, 0, 0);
}

body {
    background-color: rgb(20, 20, 20);
    font-family: "Nata Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
	color: white;
}

.navbar {
    
    background-color: rgba(0, 0, 0, 0.2)!important;
}

/* Btns */
.btn-primary {
    background-color: var(--red);
    border-color: var(--red);
}

.btn-primary:hover {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}

.btn-primary:active {
    background-color: var(--darker-red)!important;
    border-color: var(--darker-red)!important;
}

/* Hero */
.hero {
    background-color: white;
    color: black;
    box-shadow: 0px 3px 8px #888888;
}

#hero-img {
    border-radius: 10px;
    box-shadow: 0px 5px 8px #000000;
    transition: transform .5s;
}

#hero-img:hover {
    transform: scale(1.1);
}

/* Carousel Styles */
@media (max-width: 576px) {
    .carousel-item img{
        height: 300px;
    }
    .carousel-item {
        max-height: 200px;
    }
}

/* Carousel */
.carousel-control-prev-icon {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c90000' %3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3E%3C/svg%3E") !important;*/
    background-color: rgba(72, 72, 72, 0.8);
    border-radius: 10px;
}

.carousel-control-next-icon {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c90000' %3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E") !important;*/
    background-color: rgba(72, 72, 72, 0.8);
    border-radius: 10px;
}

.carousel-item {
    min-height: 200px;
}

.carousel-item img{
    object-fit: cover;
    max-height: 75vh;
    border-radius: 10px;
}

.carousel-caption {
    max-width: 400px;
    background-color: rgba(0,0,0,0.7);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/* Fade-in/down/right/left */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in-down {
	opacity: 1;
	animation-name: fadeInDown;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-left {
	opacity: 1;
	animation-name: fadeInLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-right {
	opacity: 1;
	animation-name: fadeInRight;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

